out
dist
node_modules
.vscode-test/
*.vsix
*.pyproj
.vs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
package-lock.json
.yarnrc
# Editor directories and files
.vs/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln